.title{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.content {
  margin: 0;
  padding: 0;
  width: 98vw;
  margin: auto;
}
.content_address, .content_post {
  margin-top: 2vh;
  width: 84vw;
  margin: auto;
}
.content_address ul, .content_post ul{
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
.frame {
  position: relative;
  width: calc(90% / 4);
  height: 30vh;
  border: 2px solid #ccc;
  background-color: white;
  display: block;
  float: left;
  margin: 2% 0 0 2% ;
}
.frame_check{
  border: 2px solid rgb(255, 125, 26);
}
.frame:hover{
  border: 2px solid rgb(255, 125, 26);
}
.Address_Address dl dt{
  font-weight: bold;
  padding: 14px;
}
.Address_Address dl dd{
  padding: 0 6px 6px 8px;
}
.edit {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.edit a {
  margin-left: 20px;
}
.item-add-btn{
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}
.Address_add span {
  width: 100%;
  position:absolute;
  bottom: 8px;
  text-align: center;
}
.item-add-btn .icon-add{
  width: 80px;
  height: 80px;
  fill: #999; 
}
.item-edit-btn:hover .icon{
  fill:rgb(255, 125, 26);
}
.content_post .method dt{
  font-weight: bold;
  padding: 14px;
}
.content_post .method dd{
  padding: 0 6px 6px 8px;
}
.order-total{
  display: block;
  height: 22px;
  position: relative;
  width: 84vw;
  margin: auto;
}
.order-total span:nth-child(1){
  position: absolute;
  right: 51%;
}
.order-total span:nth-child(2){
  position: absolute;
  left: 51%;
}
.total span:nth-child(1){
  font-weight: bold;
  font-size: 2rem;
}
.total span:nth-child(2){
  color: #d1434a;
  font-weight: bold;
  font-size: 2rem;
}
.Payment-content{
  width: 28vw;
  margin: 20px auto;
}
.Payment-content p{
  font-size: 1.6rem;
  font-weight: bold;
  margin: 10px;
}
.Payment-content img{
  display: block;
  width: 20vw;
  margin: auto;
}
.OrderConfirmation-content{
  width: 40vw;
  margin: 20px auto;
}
.OrderConfirmation-content img{
  display: block;
  width: 10vw;
  margin: auto;
}
.OrderConfirmation-content p{
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 10px;
}
.OrderConfirmation-content .info{
  color:rgb(145, 144, 144);
  font-size: 1.4rem;
}
.red {
  color: #d1434a;
  font-weight: bold;
}
.item-list-wrap {
  width: 84vw;
  margin: auto;
}
.next{
  position: absolute;
  right: 9vw;
  text-align: center;
  width: 10vw;
  font-size: 1.5rem;
  color:white;
  padding: 10px;
  border-radius: 5%;
  background-color: #d1434a;
}
.Previous{
  position: absolute;
  left: 9vw;
  text-align: center;
  width: 10vw;
  font-size: 1.5rem;
  color:white;
  padding: 10px;
  border-radius: 5%;
  background-color: #d1434a;
}
.Button{
  height: 50px;
  width: 84vw;
  padding: 2px;
  background-color: #fff;
  margin: auto;
  z-index: 6;
}
.order {
  margin-bottom: 20px;
}
.cart{
  margin-top: 4vh;
}
.status{
  color: #d1434a;
}
#goCart, #goGoods{
  text-align: center;
  width: 10vw;
  font-size: 1.5rem;
  color:#d1434a;
  padding: 10px;
  border-radius: 5%;
  border: 2px solid #d1434a;
}
#goCart{
  position: absolute;
  left: 36vw;
}
#goGoods{
  position: absolute;
  right: 36vw;
}
@media screen and (max-width: 767px){
  .order .order-total:nth-child(3){
    margin-bottom: 24px;
  }
  .page-title-h2 {
    display: none; }
  .content{
    width: 100vw;
  }
  .Address_bread{
    font-size: 1rem;
  }
  .frame {
    width: 96%;
  }
  .Button{
    width: 100vw;
    position:fixed;
    bottom: 0;
  }
  .next{
    z-index: 4;
    width: 49.5vw;
    right: 0;
    bottom: 0;
  }
  .Previous{
    z-index: 4;
    width: 49.5vw;
    left: 0;
    bottom: 0;
  }
  .content_address, .content_post {
    width: 96vw;
  }
  .Payment-content{
    width: 96vw;
  }
  .Payment-content img{
    width: 70vw;
    margin: auto;
  }
  .OrderConfirmation-content{
    width: 96vw;
  }
  .OrderConfirmation-content img{
    width: 43vw;
  }
  #goCart, #goGoods{
    width: 30vw;
  }
  #goCart{
    position: absolute;
    left: 4vw;
  }
  #goGoods{
    position: absolute;
    right: 4vw;
  }
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .frame{
    width: calc(92% / 3);
  }
  #goCart, #goGoods{
    width: 30vw;
  }
  #goCart{
    position: absolute;
    left: 4vw;
  }
  #goGoods{
    position: absolute;
    right: 4vw;
  }
}
@media screen and (max-width: 1024px){
  .status{
    width: 100px;
    position: absolute;
    bottom: 0;
    right: -110px;
    height: 30px;
    line-height: 30px;
  }
}